# Raw datasets
data/raw/
data/egoclip/
data/ek100/
data/videos/
data/checkpoints/

# Checkpoints and model weights
checkpoints/
*.pt
*.pth
*.ckpt

# Large intermediate outputs
features/
cache/
outputs/
logs/
runs/
wandb/
mlruns/

# Cluster logs
*.log
*.out
*.err
slurm-*.out

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/

# Build / packaging
build/
dist/
*.egg-info/

# Environments
.env
.venv/
venv/
env/
conda-meta/

# IDE / OS
.vscode/
.idea/
.DS_Store
